
.details-zona-layout {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}


/* src/pages/zoneamento/detalhes/DetalhesZona.css */
.map-card {
  grid-column: 1 / -1; /* Ocupa a largura total na grade */
}

.map-container {
  height: 450px;
  width: 100%;
  border-radius: 8px;
  border: 1px solid var(--cor-borda);
  z-index: 1;
  margin-top: 1rem;
}

.zona-descricao {
  font-size: 1rem;
  color: var(--cor-texto);
  margin-bottom: 2rem;
}
.map-card h3 {
  font-size: 1.3rem;
  color: var(--cor-titulo);
  margin-bottom: 1.5rem;
  padding-bottom: 0.8rem;
  border-bottom: 1px solid var(--cor-borda);
}



.tags-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.75rem;
    margin-top: 0.5rem;
}

.tag {
    background-color: #e9ecef;
    color: var(--cor-texto);
    padding: 0.4rem 0.9rem;
    border-radius: 20px;
    font-size: 0.85rem;
    font-weight: 500;
    cursor: help;
}